.background {
    -fx-background-image: url("../../images/MenuBackGrounds/LoginMenu.jpg") ;
    -fx-background-size: 1000 600 ;
}

.text-field {
    -fx-opacity: 1 ;
    -fx-background-color: black ;
    -fx-text-fill: white ;
    -fx-font-size: 20px ;
}

.text-field:selected {
    -fx-opacity: 0.5 ;
}

.button {
    -fx-opacity: 1 ;
    -fx-background-color: black ;
    -fx-text-fill: white ;
    -fx-font-size: 20px ;
}

.button:hover {
    -fx-text-fill: red ;
}